[run]
source = 
    src/trie.py
omit = 
    src/balance_bst.py
    src/bst.py
    src/hash_table.py
    src/store_bst.py
    src/test_balance.py
    src/test_bst.py
    src/test_hash_table.py
    src/test_traversals.py
    src/test_trie.py
[report]
show_missing = True